.CenterSite {
  margin: auto;
  width: 50%;
  border: 2px solid black;
  padding: 10px;
}

body {
  font-family: 'Courier New', monospace;
  text-align: left;
  background-color: white;
}

h1 {
  font-family: 'Courier New', monospace;
  text-align: center;
  color: Black;
  margin-left: 20px;
}
